# === OS ===
.DS_Store

# === Rails ===
/log/*
/tmp/*
/storage/*
!/log/.keep
!/tmp/.keep

/config/master.key
/config/credentials/*.key

/db/*.sqlite3
/db/*.sqlite3-journal

# === Node / Vite ===
/node_modules/
/dist/
/vite-dev-server/

# === Env ===
.env
.env.*

# === IDE ===
/.vscode/
/.idea/

# === Kamal ===
.kamal/secrets*

